body {
  font-family: "Sumana", sans-serif;
  background-color: #d9dcd6;
  margin: 0; /* Remove default body margin */
  display: flex;
  flex-direction: column;
}

/* Container Styles [border and padding] */
header,
footer,
aside {
  padding: 18px;
  border: 12px solid black;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
}

header {
  color: white;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 0;
}

/* FORWARD BUTTON SECTION */
/* Text size for sun icon */
.forward-button {
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-style: none;
}

/* SUN ICON SECTION */
/* Add styles for the mode toggle button */
.mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Text size for sun icon */
.sun-icon {
  font-size: 25px;
}

/* Additional style for (sun) drk mode */
.dark-mode .sun-icon {
  color: white;
}

/* ASIDE SECTION */
/* Aside 1 and 2 Styling
    Position */

aside {
  background-color: lightcoral;
  display: flex;
  position: relative;
}

/* Equal Width for Both Asides
    Border radius and remove
        Add Text Color */
.aside-1,
.aside-2 {
  color: white;
  flex: 1;
  border-radius: 10px;
  border: none;
  padding: 10px; /* Add padding to create space */
  margin: 10px; /* Add margin to create space */
}

/* Spacing and Border for both asides */
.aside-1 {
  border: 2px solid #000;
  border-radius: 8px;
  text-align: left;
}

.aside-2 {
  border: 2px solid #000;
  border-radius: 8px;
  text-align: left;
}

/* FOOTER SECTION */
/* Footer Styling */
footer {
  color: white;
  background-color: lightcoral;
}

.portfolio {
  color: white;
}

/* Drk mode styles */
/* Change background,
    Text, Header, Aside, Footer colors.
        Update Sun Icon  */
.dark-mode {
  background-color: #333;
  color: #eee;
}

.dark-mode header {
  background-color: #444;
}

.dark-mode aside {
  background-color: #444;
}

.dark-mode footer {
  background-color: #444;
}

.dark-mode .sun-icon {
  color: #ffdf00;
}
